{
    "debug": false, 
    "port": "/dev/ttyUSB0",
    "baud": 115200,
    "page_adv_pin": 18, 
    "color": "#53B9E8", 
    "redline_color": "#FF3643", 
    "font_size": 30, 
    "note_font_size": 20, 
    "pages": [
        [
            {
                "sensor": "RPM", 
                "type": "Gauge", 
                "title": "x1000", 
                "x": 25, 
                "y": 5, 
                "w": 450, 
                "h": 450, 
                "min": 0, 
                "max": 8000, 
                "redline": 5750, 
                "numerals": true, 
                "scale_step": 1000, 
                "scale_mult": 1000, 
                "buffer_size": 60
            }, 
            {
                "sensor": "SPEED", 
                "type": "Text", 
                "title": "MPH", 
                "x": 500, 
                "y": 93, 
                "w": 275, 
                "h": 275, 
                "min": 0, 
                "max": 150, 
                "redline": 150, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 10, 
                "buffer_size": 60
            }, 
            {
                "sensor": "INTAKE_TEMP", 
                "type": "Bar_Horizontal", 
                "title": "F", 
                "x": 500, 
                "y": 425, 
                "w": 275, 
                "h": 30, 
                "min": -40, 
                "max": 215, 
                "redline": 150, 
                "numerals": false, 
                "scale_step": 25, 
                "scale_mult": 25, 
                "buffer_size": 60
            } 
        ]
    ]
}
